<section {{section_attributes.addClass('clearfix','seeds-section',additional_classes) }}>
	{{prefix_wrapper}}
	{{ title_suffix.contextual_links }}
	{% if container_has_framework %}
		<div class={{container?container:"no-container"}}>
		{% endif %}
		{{prefix}}
		{% block content %}{% endblock %}
		{{suffix}}
		{% if container_has_framework %}
		</div>
	{% endif %}
	{{suffix_wrapper}}
</section>
